@use "@variables" as v;
@use "@mixins" as m;

$er-popover-border-size: 4px;
$er-popover-border-overlap: $er-popover-border-size;

$er-popover-border-x-height: calc(100% - $er-popover-border-size - $er-popover-border-size);
$er-popover-border-y-width:  calc(100% - $er-popover-border-size - $er-popover-border-size);

$gradient-stops: (
      0%: 0.00,
     25%: 0.75,
     50%: 1.00,
     75%: 0.75,
    100%: 0.00,
);

@mixin paddingPlus($plus, $top, $right, $bottom, $left) {
    $top: $plus + $top;
    $right: $plus + $right;
    $bottom: $plus + $bottom;
    $left: $plus + $left;

    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

// =============================================================================
// V1
// =============================================================================

.er__popover__1 {
    box-sizing: border-box;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/padding#syntax
    /* top | right | bottom | left */
    padding: 5px 20px 10px 10px;
    border-radius: 4px;
    color: v.$popover-color-fg;
    background-color: v.$popover-color-bg;
    opacity: 0.90;
    border: 2px solid v.$popover-color-border;
}

// =============================================================================
// V2
// =============================================================================

.er__popover__2 {
    z-index: 2010;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/padding#syntax
    /* top | right | bottom | left */
    // padding: 5px 3px 10px 3px;
    // padding: $er-popover-border-size;
    @include paddingPlus($er-popover-border-size, 10px, 10px, 10px, 10px);
    // border-radius: 5px;
    color: v.$popover-color-fg;
    background-color: v.$popover-color-bg;
    // border: 2px solid $popover-border-color;
    position: relative;

    .er__popover__border {
        z-index: 2020;
        position: absolute;
        box-sizing: border-box;
        // width: 1px;
        // background-color: rebeccapurple;
        // content: " ";
    }

    .er__popover__border--top,
    .er__popover__border--bottom {
        width: $er-popover-border-y-width;
        height: $er-popover-border-size;
        // left: $er-popover-border-size;
        left: 0;
        background: m.customGradient(180deg, v.$popover-color-border, $gradient-stops);
    }

    .er__popover__border--left,
    .er__popover__border--right {
        height: $er-popover-border-x-height;
        width: $er-popover-border-size;
        // top: $er-popover-border-size;
        top: 0;
        background: m.customGradient(90deg, v.$popover-color-border, $gradient-stops);
    }

    .er__popover__border--top {
        top: 0;
    }
    .er__popover__border--bottom {
        bottom: 0;
    }

    .er__popover__border--left {
        left: 0;
    }
    .er__popover__border--right {
        right: 0;
    }

    // .er__popover__border--top    { background-color: red;}
    // .er__popover__border--bottom { background-color: orange;}
    // .er__popover__border--left   { background-color: blue;}
    // .er__popover__border--right  { background-color: cyan;}
}

// =============================================================================
// V3
// =============================================================================

.er__popover__3 {
    z-index: 2010;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/padding#syntax
    /* top | right | bottom | left */
    // padding: 5px 3px 10px 3px;
    // padding: $er-popover-border-size;
    @include paddingPlus($er-popover-border-size, 10px, 10px, 10px, 10px);
    // border-radius: 5px;
    color: v.$popover-color-fg;
    background-color: v.$popover-color-bg;
    // border: 2px solid $popover-border-color;
    // position: relative;

    // border-top:    $er-popover-border-size solid red;
    border-right:  $er-popover-border-size solid orange;
    // border-bottom: $er-popover-border-size solid blue;
    border-left:   $er-popover-border-size solid cyan;

    border-top:    $er-popover-border-size solid m.customGradient(180deg, v.$popover-color-border, $gradient-stops);
    border-bottom: $er-popover-border-size solid m.customGradient(180deg, v.$popover-color-border, $gradient-stops);
}

.er__popover__4 {
    z-index: 2010;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/padding#syntax
    /* top | right | bottom | left */
    // padding: 5px 3px 10px 3px;
    // padding: $er-popover-border-size;
    @include paddingPlus($er-popover-border-size, 10px, 10px, 10px, 10px);
    // border-radius: 5px;
    color: v.$popover-color-fg;
    background-color: v.$popover-color-bg;
    // border: 2px solid $popover-border-color;
    // position: relative;

    // border-top:    $er-popover-border-size solid red;
    border-right:  $er-popover-border-size solid orange;
    // border-bottom: $er-popover-border-size solid blue;
    border-left:   $er-popover-border-size solid cyan;

    border-top:    $er-popover-border-size solid m.customGradient(180deg, v.$popover-color-border, $gradient-stops);
    border-bottom: $er-popover-border-size solid m.customGradient(180deg, v.$popover-color-border, $gradient-stops);
}
