#builder-root {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#builder-body {
    display: flex;
    flex-grow: 1;

    div.builder-column:nth-child(1) {
        width: 25%;
    }

    div.builder-column:nth-child(2) {
        width: 40%;
        margin-left:  5%;
        margin-right: 5%;
    }

    div.builder-column:nth-child(3) {
        width: 25%;
    }
}

.stat-row,
.resistance-row,
.attribute-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.attribute-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100%;

    span.attribute-value {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
        min-height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
}

section.armor,
section.armaments {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    // justify-content: space-around;
    // align-items: stretch;

    div.armament {
        // width: 30%;
    }

    // div.armament:nth-child(1) { background-color: red;    }
    // div.armament:nth-child(2) { background-color: orange; }
    // div.armament:nth-child(3) { background-color: yellow; }
}

section.armor {
    div.armor {
        // width: 25%;
    }

    // div.armor:nth-child(1) { background-color: red;    }
    // div.armor:nth-child(2) { background-color: orange; }
    // div.armor:nth-child(3) { background-color: yellow; }
    // div.armor:nth-child(4) { background-color: green;  }
}
