@use "../variables"as v;

.er__startingClass {

    ul {
        padding-left: 0px;
        list-style: none;
    }

    // background-color: red;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: stretch;
    justify-items: stretch;

    .er__startingClass__menu {
        // background-color: orange;
        flex-grow: 1;

        ul.er__startingClass__menu__options {
            // background-color: yellow;
            width: calc(100% - 200px);
            height: 100%;
            box-sizing: border-box;
            margin-left: 100px;
            margin-right: 100px;
            overflow-x: scroll;
            display: default;
            white-space: nowrap;

            .er__startingClass__menu__option {
                // background-color: green;
                margin: 0px 10px;
        //         // background-size: contain;
        //         // background-repeat: no-repeat;
        //         // background-position: "center";
                display: inline-block;
                height: 100%;
                width: 33%;
                // background-color: #1f1c16;
                margin-top: 0px;
                margin-bottom: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
                .er__startingClass__menu__optionContent {
                    width: 100%;
                    height: 100%;
                    // background-color: blue;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                    justify-content: flex-end;

                    .er__statRow__column span {
                        font-size: 1rem;
                    }
                }

                ul.er__startingClass__menu__option__attributes {
                    width: 200px;
                }
                ul.er__startingClass__menu__option__equipment {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    margin-top:    10px;
                    margin-bottom: 10px;
                    li {
                        width:  50px;
                        height: 50px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        img {
                            padding: 10px;
                        }
                    }
                }
                .er__startingClass__menu__option__title {
                    margin-top:    80px;
                    margin-bottom: 20px;
                    span {}
                }
            }
        }

    }
}

.example {
    width: 750px;
    display: inline-block;
    &:nth-child(even) { background-color: blue;  }
    &:nth-child(odd)  { background-color: green; }
}

.er__startingClass__footer {
    background-color: violet;
    height: 50px;
    .er__startingClass__bottomText {}
}

// .er__startingClass__topBorder,
// .er__startingClass__bottomBorder {}
