@use "../variables"as v;

.weapon-detail {
    .weapon-image-column {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        // justify-items: end;
        // align-content: flex-end;
        justify-content: end;
        height: 50%;
    }
    .weapon-image-wrapper {
        // height: 50%;
        // width: 160px;
        // height: 170px;
        // background-color: blue;
        // border: 5px inset rgba(v.$gold, 0.4);
        padding: 5px;
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow:
            inset 0px 0px 3px 3px rgba(v.$equipment-slot-overlay-color, 0.35),
                  0px 0px 2px 2px rgba(v.$equipment-slot-overlay-color, 0.35);
        img {
            width: 155px;
        }
    }
}
