$equipment-slot-overlay-color: #B6AD84;

@mixin hoverGradient() {
    position: relative;

    @include m.pointerOnHover();

    &:hover {
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0px 0px 2px 1px rgba($equipment-slot-overlay-color, 0.5);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 1px;
            background: radial-gradient(ellipse, rgba($equipment-slot-overlay-color, 0) 40%, rgba($equipment-slot-overlay-color, 0.4) 100%);
        }
    }
}
