// https://cssgradient.io/

@use "../variables" as v;
@use "../helpers/functions" as functions;

// $inner-border-1: #423E35;
// $inner-border-2: #4C4A3F;
// $inner-border-3: #454139;

$top-bottom-border-stops: (
     0%: 1.0,
    10%: 0.0,
    90%: 0.0,
   100%: 1.0,
);

@mixin outerBorder {
    height: 3px;
    background:
        functions.customGradient(90deg, v.$modal-color-bg, $top-bottom-border-stops),
        v.$modal-color-border;
}
