@mixin vanillaList {
    ul, li {
        /* type | image | position */
        list-style: none none none !important;
        // list-style-position: inside !important;

        padding-left: 0px !important;

        margin-bottom: default !important;

        margin-block-start: 0px !important;
        margin-block-end: 0px !important;
    }
}
