// ----------------------------------------------------------------------------
// Z-index master list
//
// Warning: Avoid customizing these values.
// They're used for a bird's eye view of components dependent on the z-axis and are designed to all work together.
// ----------------------------------------------------------------------------

// scss-docs-start zindex-stack
$zindex-startingClass-background:      1005;
$zindex-startingClass-content:         1010;
$zindex-startingClass-hover:           1011;
// $zindex-dropdown:                   1000;
// $zindex-sticky:                     1020;
// $zindex-fixed:                      1030;
// $zindex-offcanvas-backdrop:         1040;
// $zindex-offcanvas:                  1045;
$zindex-modal-backdrop:             1050;
$zindex-modal:                      1055;
$zindex-popover:                    1070;
$zindex-tooltip:                    1080;
// $zindex-toast:                      1090;
$zindex-contextMenu:                  1100;
$zindex-sideNav-backdrop:             1190;
$zindex-sideNav:                      1200;
// scss-docs-end zindex-stack
