/// Generates a linear gradient.
///
/// Code originally by [Kitty Giraudel](https://www.sitepoint.com/building-linear-gradient-mixin-sass/).
///
/// @param {color} $color
@mixin customGradientV1($color) {

    $cleanColor: rgba($color, 1.0);

    $stops: (
         0%:  0.5,
        20%:  0.9,
        50%:  1.0,
        80%:  0.9,
        100%: 0.5,
    );

    $colors: ();

    @each $percentage, $transparency in $stops {
        $colors: ($colors, rgba($cleanColor, $transparency) $percentage)
    }

    background: linear-gradient(0deg, $colors);
}
