// https://cssgradient.io/

@use "@variables" as v;
@use "@mixins" as mixins;
@use "@functions" as functions;

#weapon-skill-grid-menu {
    position: relative;
}

// .er__affinity-modal__root {
//     position: relative;
//     width: 0px;
//     height: 0%;
//     margin: 0px;
//     padding: 0px;
// }

.er__affinityModal,
.er__affinityModal__overlay {
    outline: none !important;
}

.er__affinityModal__overlay {
    z-index: v.$zindex-modal-backdrop;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$modal-backdrop-bg;
}

.er__affinityModal {

    $affinityModal-option-font-size: 16px;
    $affinityModal-option-horizontal-padding: 16px;

    $inner-border-1: #423E35;
    $inner-border-2: #4C4A3F;
    $inner-border-3: #454139;

    $top-bottom-border-stops: (
        0%:   1.0,
        10%:  0.0,
        90%:  0.0,
        100%: 1.0,
    );

    $inner-border-stops: (
        0%:   1.0,
        10%:  0.0,
        90%:  0.0,
        100%: 1.0,
    );

    $body-stops: (
        // 0%:   0.60,
        // 1%:   0.65,
        // 2%:   0.70,
        // 3%:   0.75,
        4%:   0.80,
        5%:   0.85,
        6%:   0.90,
        10%:  0.95,
        90%:  0.95,
        94%:  0.90,
        95%:  0.85,
        96%:  0.80,
        // 97%:  0.75,
        // 98%:  0.70,
        // 99%:  0.65,
        // 100%: 0.60,
    );

    $affinity-item-color-bg: lighten(v.$modal-color-bg, 5%);
    $affinity-item-color-active-bg: lighten(v.$modal-color-bg, 15%);
    // $affinity-item-color-active-bg: blue;
    $affinity-item-stops: (
        0%:   0.10,
        10%:  0.25,
        50%:  0.75,
        90%:  0.25,
        100%: 0.10,
    );

    width: 70%;
    // min-width: 45%;
    // min-height: 50%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    background-color: v.$modal-color-bg;
    background: functions.customGradient(90deg, v.$modal-color-bg, $body-stops);

    header {
        text-align: center;
        padding-top:    6px;
        padding-bottom: 3px;
        span {
            font-size: 20px;
            // line-height: 20px;
            color: v.$gold;
            text-shadow: v.$text-shadow-offset v.$text-shadow-offset black;
        }
    }

    ul.er__affinityModal__options {
        margin-top: 10px;
        padding-left: 0px;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;

        li.er__affinityModal__option {
            height: 25px;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            background: functions.customGradient(90deg, $affinity-item-color-bg, $affinity-item-stops);
            margin-left:  $affinityModal-option-horizontal-padding;
            margin-right: $affinityModal-option-horizontal-padding;
            margin-top:    6px;
            margin-bottom: 6px;
            .er__affinityModal__option__imagePlaceholder,
            img.er__affinityModal__option__image {
                width:  24px;
                height: 24px;
            }

            span {
                padding-left:  8px;
                padding-right: 8px;
                font-size:   $affinityModal-option-font-size;
                line-height: $affinityModal-option-font-size;
            }

            @include mixins.pointerOnHover;

            &:hover {
                background: functions.customGradient(90deg, $affinity-item-color-active-bg, $affinity-item-stops);
            }

            &.active {
                background: functions.customGradient(90deg, $affinity-item-color-active-bg, $affinity-item-stops);
            }
        }
    }


    .bottom-border,
    .top-border {
        height: 3px;
        background:
            functions.customGradient(90deg, v.$modal-color-bg, $top-bottom-border-stops),
            v.$modal-color-border;
    }

    .inner-border-wrapper {
        content: "";
        width: 100%;
        display: flex;
        justify-content: center;

        .inner-border {
            text-align: center;
            width: 90%;
            background:
                functions.customGradient(90deg, v.$modal-color-bg, $inner-border-stops),
                linear-gradient(180deg, rgba(66,62,53,0.5) 0%, rgba(76,74,63,1) 50%, rgba(69,65,57,0.5) 100%);
            height: 2px;
        }
    }

    .left-border-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        // background-color: blue;
        background:
            functions.customGradient(180deg, v.$modal-color-bg, $top-bottom-border-stops),
            v.$modal-color-border;
    }

    .right-border-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 3px;
        // background-color: blue;
        background:
            functions.customGradient(180deg, v.$modal-color-bg, $top-bottom-border-stops),
            v.$modal-color-border;
    }

}
