@use "@variables"as v;
@use "@mixins" as mixins;

.er__button {
    border-radius: 0px;
    border: 1px solid v.$button-border-color;

    padding-top:    v.$button-vertical-padding;
    padding-bottom: v.$button-vertical-padding;

    padding-left:  v.$button-horizontal-padding;
    padding-right: v.$button-horizontal-padding;

    text-transform: uppercase;

    background-color: v.$button-bg-color;
    color: v.$button-fg-color;
    text-shadow: v.$text-shadow-offset v.$text-shadow-offset black;

    position: relative;
    @include mixins.pointerOnHover;
    &:hover {
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow: 0px 0px 2px 1px rgba(v.$equipment-slot-overlay-color, 0.5);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 1px;
            background: radial-gradient(ellipse, rgba(v.$equipment-slot-overlay-color, 0.0) 40%, rgba(v.$equipment-slot-overlay-color, 0.4) 100%);
        }
    }
}
