@use "../variables"as v;
@use "../mixins" as m;

// bottom left
// #585949 L3
// #676856 L2
// #737360 L1
// #777664 center
// #70715E R1
// #646454 R2
// #555447 R3
.vertical-gradient {
    @include m.erCardSideBorder;
}

article.er__card2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // background-color: $black;

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        svg {
            color: v.$gold;
            margin-left: 5px;
            margin-right: 5px;
            // https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow
            // drop-shadow(offset-x offset-y blur-radius color)
            filter: drop-shadow(v.$text-shadow-offset v.$text-shadow-offset 0.075px rgb(0, 0, 0));
        }
        span.er__card2__title {
            color: v.$gold;
            font-size: 24px;
            padding-top: .2em;
            margin-bottom: 0px;
            padding-bottom: 0px;
            text-shadow: v.$text-shadow-offset v.$text-shadow-offset black;
            white-space: nowrap;
        }
    }

    header.no-icon {
        .er__card2__title {
            font-size: 32px;
            color: #D3D3D3;
        }
    }

    header.small-title {
        .er__card2__title {
            font-size: 18px;
        }
        svg {
            color: v.$gold;
            margin-left: 5px;
            margin-right: 5px;
            height: 20px;
        }
    }

    section {
        flex-grow: 1;
        display: flex;

        .left-border-wrapper {
            width: 34px;
            // height: 140px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .left-border-inner {
                height: 100%;;
                width: 4px;
                margin-bottom: 5px;
                border-radius: 3px;
            }
        }

        .er__card2__content {
            // background-color: yellow;
            flex-grow: 1;
            flex-shrink: 0;
            // ul, li {
            //     padding-left: 0px !important;
            //     margin-block-start: 0px !important;
            //     margin-block-end: 0px !important;
            // }
        }
    }
}
