@use "../variables"as v;
@use "../mixins" as m;


#er__contextMenu {
    background: m.customGradient(90deg, v.$contextMenu-color-bg, v.$modal-body-stops);
    width: 200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    z-index: v.$zindex-contextMenu;

    ul {
        flex-grow: 1;
        margin-bottom:  0px;
        margin-top:     0px;
        margin-left:    10px;
        margin-right:   10px;
        padding-top:    10px;
        padding-bottom: 10px;
        li {
            @include m.pointer-on-hover;
            height: 25px;
            margin-top: 10px;
            margin-bottom: 10px;
            background: m.customGradient(90deg, v.$contextMenuItem-color-bg, v.$contextMenu-item-stops);
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            &:hover {
                background: m.customGradient(90deg, v.$contextMenuItem-color-bg-active, v.$contextMenu-item-stops);
            }
        }
    }

    .bottom-border,
    .top-border {
        height: 2px;
        background:
            m.customGradient(90deg, v.$modal-color-bg, v.$modal-top-bottom-border-stops),
            v.$modal-color-border;
    }
}
