@use "../variables"as v;
@use "../mixins" as m;


#er__contextMenu {
    background: m.customGradient(90deg, v.$modal-color-bg, v.$modal-body-stops);
    width: 200px;
    // text-align: center;

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;

    ul {
        flex-grow: 1;
        text-align: center;
        // height: calc(100% - 4px);
        // background-color: blue;
        margin-bottom: 0px;
        padding-top:    5px;
        padding-bottom: 5px;
        li {
            @include m.pointer-on-hover;
            &:hover {
                background-color: v.$gold;
            }
        }
    }

    .bottom-border,
    .top-border {
        height: 2px;
        background:
            m.customGradient(90deg, v.$modal-color-bg, v.$modal-top-bottom-border-stops),
            v.$modal-color-border;
    }

    // display: flex;
    // flex-direction: column;
    // align-items: stretch;
    // justify-content: stretch;

    // background-color: v.$modal-color-bg;
    // background: m.customGradient(90deg, v.$modal-color-bg, v.$modal-body-stops);

    // .er__modal__main {
    //     padding-top:    25px;
    //     padding-bottom: 25px;
    // }

    // .bottom-border,
    // .top-border {
    //     height: 3px;
    //     background:
    //         m.customGradient(90deg, v.$modal-color-bg, v.$modal-top-bottom-border-stops),
    //         v.$modal-color-border;
    // }
}
