@use "@variables"as var;
@use "@mixins" as mixins;
@use "@functions" as functions;

.er__equipmentMenu {

    margin-left:  var.$equipment-menu-horizontal-margin;
    margin-right: var.$equipment-menu-horizontal-margin;

    // ======================================================================
    // Styles
    // ======================================================================

    // width: 50%;

    @include mixins.customScrollbar();

    .er__equipmentMenu__gridColumn {
        height: 75vh;
        // height: 80%;
        // overflow-y: scroll;
        padding: 20px;
        margin-top: 25px;
        border-radius: 5px;
        background-color: rgba(var.$equipmentMenu-grid-background, 0.3);
    }

    .er__equipmentMenu__gridSectionBorder {
        height:        3px;
        margin-top:    6px;
        margin-bottom: 6px;
        background: functions.customGradient(90deg, var.$equipmentMenu-grid-divider, var.$equipmentGrid-border-stops);
    }

    section.er__equipmentMenu__gridSection {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        .er__equipmentMenu__gridCell {
            @include mixins.pointerOnHover();
            * {
                @include mixins.pointerOnHover();
            }
            box-sizing: border-box;
            min-height: var.$equipmentMenu-min-cell-size;
            min-width:  var.$equipmentMenu-min-cell-size;
            margin: 5px;
            border-radius: 2px;
            &.inactive {
                background: functions.customGradient(180deg, var.$equipmentMenu-cell-color, var.$equipmentCell-border-stops);
            }
            &.active {
                background-color: #615e4b;
            }
        }
        .er__equipmentMenu__imageWrapper {
            @include mixins.square(100%);
            box-sizing: border-box;
            padding: 7px;
            position: relative;
            .er__equipmentMenu__requirementsNotMet {

                background-image: url(var.$image-red-x);
                background-repeat: no-repeat;
                background-size: 100% 100%;

                position: absolute;
                top:   var.$equipmentMenu-redX-padding;
                right: var.$equipmentMenu-redX-padding;
                @include mixins.square(var.$equipmentMenu-redX-size);
            }
        }
    }
}
