@use "@variables"as v;
@use "@mixins" as mixins;
@use "@functions" as functions;

.er__equipmentMenu {

    margin-left:  v.$equipment-menu-horizontal-margin;
    margin-right: v.$equipment-menu-horizontal-margin;

    // ======================================================================
    // Styles
    // ======================================================================

    // width: 50%;

    @include mixins.customScrollbar();

    .er__equipmentMenu__gridColumn {
        height: 75vh;
        // height: 80%;
        overflow-y: scroll;
        padding: 20px;
        margin-top: 25px;
        border-radius: 5px;
        background-color: rgba(v.$equipmentMenu-grid-background, 0.3);
    }

    .er__equipmentMenu__gridSectionBorder {
        height:        3px;
        margin-top:    6px;
        margin-bottom: 6px;
        background: functions.customGradient(90deg, v.$equipmentMenu-grid-divider, v.$equipmentGrid-border-stops);
    }

    section.er__equipmentMenu__gridSection {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        .er__equipmentMenu__gridCell {
            box-sizing: border-box;
            min-height: v.$equipmentMenu-min-cell-size;
            min-width:  v.$equipmentMenu-min-cell-size;
            margin: 5px;
            border-radius: 2px;
            &.inactive {
                background: functions.customGradient(180deg, v.$equipmentMenu-cell-color, v.$equipmentCell-border-stops);
            }
            &.active {
                background-color: #615e4b;
            }
            @include mixins.pointer-on-hover;
        }
        .er__equipmentMenu__imageWrapper {
            @include mixins.square(100%);
            box-sizing: border-box;
            padding: 7px;
            position: relative;
            .er__equipmentMenu__requirementsNotMet {

                background-image: url(v.$image-red-x);
                background-repeat: no-repeat;
                background-size: 100% 100%;

                position: absolute;
                top:   v.$equipmentMenu-redX-padding;
                right: v.$equipmentMenu-redX-padding;
                @include mixins.square(v.$equipmentMenu-redX-size);
            }
        }
    }
}
