@use "@variables"as var;
@use "@mixins" as mixins;

.er__equipmentDetail {
    display: flex;
    flex-direction: column;

    .er__equipmentDetail__cardContent {
        display: flex;
        flex-flow: row nowrap;
        // width: 100%;
        // justify-items: stretch;
        // justify-content: stretch;
        // align-items: stretch;
        // align-content: stretch;

        // &>* {
        //     flex-grow: 1;
        // }
    }

    .er__equipmentDetail__section {
        .er__card2 {
            width: 100%;
        }
        display: flex;
        flex-flow: row nowrap;
        &--main {
            @extend .er__equipmentDetail__section;
        }
    }

    .er__equipmentDetail__detailColumn {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .er__equipmentDetail__imageColumn {
        display: flex;
        flex-flow: row nowrap;
        justify-content: end;
        align-items: end;
        // align-content: end;
        // align-items: flex-end;
        // justify-items: end;
        // align-content: flex-end;
        // justify-content: end;
        // height: 50%;
        // width: 50%;
        // align-self: flex-end;
    }
}

.er__equipmentDetail__primaryImageWrapper {
    @include mixins.square($size: var.$equipmentDetail-primary-image-size, $max: false);
    @include mixins.media-mobile { @include mixins.square($size: var.$equipmentDetail-primary-image-size--mobile, $max: false); }
    @include mixins.equipmentMenuBoxShadow;
    padding: 5px;

    &--empty {
        @extend .er__equipmentDetail__primaryImageWrapper;
        @include mixins.invisibleContent();
    }
}

.er__equipmentDetail__secondaryImageWrapper {
    @include mixins.square($size: var.$equipmentDetail-secondary-image-size, $max: false);
    @include mixins.media-mobile { @include mixins.square($size: var.$equipmentDetail-secondary-image-size--mobile, $max: false); }
    @include mixins.equipmentMenuBoxShadow;
    margin-right: 6px;
    padding: 5px;

    &--empty {
        @extend .er__equipmentDetail__secondaryImageWrapper;
        @include mixins.invisibleContent();
        box-shadow: none;
    }
}
