@use "../variables"as v;
@use "../mixins/index" as m;

.er__tall-card {

    $header-height: 20px;
    $section-margin: 20px;

    $main-title-font-size: 24px;
    $sub-title-font-size:  18px;

    * {
        box-sizing: border-box;
    }

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    @include m.vanillaList;

    section.er__tall-card__section {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: $section-margin;

        span.er__tall-card__section--title {
            white-space: nowrap;
            font-size: $sub-title-font-size;
            color: v.$gold;
        }
    }

    header.er__tall-card__header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: start;

        svg {
            color: v.$gold;
            margin-left: 5px;
            margin-right: 5px;
            // https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow
            // drop-shadow(offset-x offset-y blur-radius color)
            filter: drop-shadow(v.$text-shadow-offset v.$text-shadow-offset 0.075px rgb(0, 0, 0));
        }

        span.er__tall-card__header--title {
            white-space: nowrap;
            height: 100%;
            padding-top: .2em;
            color: v.$gold;
            font-size: $main-title-font-size;
            margin-bottom: 0px;
            padding-bottom: 0px;
            text-shadow: v.$text-shadow-offset v.$text-shadow-offset black
        }
    }

    .left-border-wrapper {
        width: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .left-border-inner {
            @include m.erCardSideBorder;
            height: 100%;;
            width: 4px;
            margin-bottom: 5px;
            border-radius: 3px;
        }
    }
    .er__tall-card__content--wrapper {
        display: flex;

        .content {
            flex-grow: 1;
            ul, li {
                padding-left: 0px !important;
                margin-block-start: 0px !important;
                margin-block-end: 0px !important;
            }
        }
    }
}
