// https://cssgradient.io/

@use "../variables" as v;
@use "../mixins" as mixins;
@use "../helpers/functions" as functions;

.er__modal,
.er__modal__overlay {
    outline: none !important;
}

.er__modal__overlay {
    z-index: v.$zindex-modal-backdrop;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: v.$modal-backdrop-bg;
}

.er__modal {
    min-width: 45%;
    min-height: 50%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    background-color: v.$modal-color-bg;
    background: functions.customGradient(90deg, v.$modal-color-bg, v.$modal-body-stops);


    header {
        text-align: center;
        font-size: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-shadow: v.$text-shadow-offset v.$text-shadow-offset black;
    }

    footer {
        width: 100%;
        // background-color: $menu-background;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .er__modal__main {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .bottom-border,
    .top-border {
        height: 3px;
        background:
            functions.customGradient(90deg, v.$modal-color-bg, v.$modal-top-bottom-border-stops),
            v.$modal-color-border;
    }

    .inner-border-wrapper {
        content: "";
        width: 100%;
        display: flex;
        justify-content: center;

        .inner-border {
            text-align: center;
            width: 90%;
            background:
                functions.customGradient(90deg, v.$modal-color-bg, v.$modal-inner-border-stops),
                linear-gradient(180deg, rgba(66,62,53,0.5) 0%, rgba(76,74,63,1) 50%, rgba(69,65,57,0.5) 100%);
            height: 2px;
        }
    }
}
