@use "../variables" as v;
@use "../mixins/index" as m;

$er-popover-border-size: 4px;
$er-popover-border-overlap: $er-popover-border-size;

$er-popover-border-x-height: calc(100% - $er-popover-border-size - $er-popover-border-size);
$er-popover-border-y-width:  calc(100% - $er-popover-border-size - $er-popover-border-size);

$gradient-stops: (
      0%: 0.00,
     25%: 0.75,
     50%: 1.00,
     75%: 0.75,
    100%: 0.00,
);

@mixin paddingPlus($plus, $top, $right, $bottom, $left) {
    $top: $plus + $top;
    $right: $plus + $right;
    $bottom: $plus + $bottom;
    $left: $plus + $left;

    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

// =============================================================================
// V1
// =============================================================================

.er__popover {
    box-sizing: border-box;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/padding#syntax
    /* top | right | bottom | left */
    padding: 5px 15px 5px 10px;
    border-radius: 4px;
    color: v.$popover-color-fg;
    background-color: v.$popover-color-bg;
    opacity: 0.90;
    border: 2px solid v.$popover-color-border;
}
