@use "../variables" as v;
@use "../mixins/index" as m;

.er__popover {
    z-index: v.$zindex-popover;
    box-sizing: border-box;
    // https://developer.mozilla.org/en-US/docs/Web/CSS/padding#syntax
    /* top | right | bottom | left */
    padding: 5px 15px 5px 10px;
    border-radius: 4px;
    color: v.$popover-color-fg;
    background-color: v.$popover-color-bg;
    opacity: 0.90;
    border: v.$popover-border-size solid v.$popover-color-border;
    white-space: pre-wrap;
    font-size: 18px;
}
