@use "@variables" as var;

@mixin rounded-top-border {
    border-top-right-radius: var.$data-table-border-radius;
    border-top-left-radius: var.$data-table-border-radius;
};

@mixin rounded-bottom-border {
    // border-radius: v.$data-table-border-radius;
    border-bottom-right-radius: var.$data-table-border-radius;
    border-bottom-left-radius: var.$data-table-border-radius;
};

@mixin transparent-background {
    background: transparent !important;
    background-color: transparent !important;
};

@mixin table-border {
    border: 1px solid var.$data-table-border-color;
}

.data-table-wrapper {
    // position: relative;
    height: 100%;
    // overflow-y: scroll;
    // max-height: 100vh;
    position: relative;
    border-collapse: collapse;
    @include transparent-background;
}

.rdt_Table {
    @include rounded-top-border;
    @include rounded-bottom-border;
    @include transparent-background;
    @include table-border;
    // position: relative;
    // border-collapse: collapse;
    * {
        font-size: 16px;
    }
}
.rdt_TableRow {
    // @include rounded-bottom-border;
    @include transparent-background;
    // @include table-border;
    // position: relative;
}
.rdt_TableCol {
    @include transparent-background;
}
.rdt_TableCol_Sortable {
    @include transparent-background;
}
.rdt_TableCell {
    @include transparent-background;
    color: var.$data-table-color-fg;
    border-bottom: 1px solid var.$data-table-border-color;
    border-left: 1px solid var.$data-table-border-color;
    &:nth-child(1) {
        border-left: none;
    }
}
.rdt_TableHeader {
    background-color: var.$data-table-header-color-bg;
    // @include transparent-background;
    // position: sticky;
    // top: 0;
    // z-index: 10;
}
.rdt_TableFooter {
    @include transparent-background;
}
.rdt_TableHead {
    background-color: var.$data-table-header-color-bg;
    // @include transparent-background;
    border-top: 1px solid var.$data-table-border-color;
    border-bottom: 1px solid var.$data-table-border-color;
    // @include rounded-top-border;
    font-weight: bold;
    // position: sticky;
    // top: 0;
    // z-index: 10;
}
.rdt_TableHeadRow {
    background-color: var.$data-table-header-color-bg;
    @include transparent-background;
    @include rounded-top-border;
    height: 56px;
    color: var.$data-table-color-fg;
    // position: sticky;
    // top: 0;
    // z-index: 10;
}
.rdt_TableBody {
    @include transparent-background;
}
.rdt_ExpanderRow {
    @include transparent-background;
}
.rdt_Pagination {
    @include transparent-background;
    // option,
    // * {
    //     color: white !important;
    // }
    span {
        text-shadow: none;
    }
}

#pagination-previous-page,
#pagination-next-page,
#pagination-first-page,
#pagination-last-page {

}
