@use "@variables" as var;
@use "@mixins" as mixins;

.er__scrollBar {

    $sb-thumb-color: #5c5c4d;

    $sb-center-1: #35332b;
    $sb-center-2: #3c3a31;

    $sb-left-1: #414135;
    $sb-left-2: #4c4c3e;
    $sb-left-3: #444337;
    $sb-right-1: #4e4c3f;
    $sb-right-2: #49483c;
    $sb-right-3: #36342a;

    $sb-triangle-color: $sb-center-1;

    &__container {
        // background-color: white;
        // border: 1px solid #333;
        // border-radius: 12px;
        display: grid;
        height: 100%;
        grid-template: auto / 1fr 50px;
        overflow: hidden;
        position: relative;

        @include media("<=tablet") {
            // background-color: blue;
        }
    }

    &__content {
        // height: 90vh;
        -ms-overflow-style: none;
        overflow: auto;
        /* vertical, horizontal */
        padding: 0 1rem;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__scrollbar {
        z-index: var.$zindex-scrollBar;
        display: grid;
        // gap: 1rem;
        grid-auto-flow: row;
        grid-template: auto 1fr auto / 1fr;
        place-items: center;
        /* vertical, horizontal */
        // padding: 0 1rem;
        padding: 1rem;
        // display: flex;
        // flex-flow: column nowrap;
        // justify-content: center;
        // justify-items: center;
        // align-items: center;
        // align-content: center;
    }

    &__track-and-thumb {
        display: block;
        height: 100%;
        position: relative;
        // width: 16px;
        // background-color: purple;
        // width: 100%;
    }

    &__track {
        z-index: var.$zindex-scrollBar-track;
        bottom: 0;
        cursor: pointer;
        position: absolute;
        padding-top: 0px;
        margin-top: 0px;
        top: 0;
        width: 9px;
        background: $sb-center-1;
        background: linear-gradient(90deg, $sb-center-1 0%, $sb-center-2 100%);

        &::before {
            content: "\200b";
            position: absolute;
            top: 0;
            left: -3px;
            // left: 0px;
            width: 3px;
            height: 100%;
            background: $sb-left-1;
            background: linear-gradient(90deg, $sb-left-1 0%, $sb-left-2 50%, $sb-left-3 100%);
        }
        &::after {
            content: "\200b";
            position: absolute;
            top: 0;
            right: -3px;
            // right: 0px;
            width: 3px;
            height: 100%;
            background: $sb-right-1;
            background: linear-gradient(90deg, $sb-right-1 0%, $sb-right-2 50%, $sb-right-3 100%);
        }
    }

    &__thumb {
        z-index: var.$zindex-scrollBar-thumb;
        // border-radius: 12px;
        background-color: $sb-thumb-color;
        position: absolute;
        width: 9px;
        left: 0px;
        padding-top: 0px;
        margin-top: 0px;
        cursor: pointer;
    }

    &__button {
        z-index: var.$zindex-scrollBar-button;
        @include mixins.pointerOnHover();
        // height: 20px;
        // width: 20px;
        // background-color: greenyellow;
        position: relative;
        background-color: transparent;
        border: none;
        // width: 0px;
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        justify-content: center;
        justify-items: center;
        align-items: center;
        align-content: center;
        margin: 0px;
        padding: 0px;
        margin-left: 9px;
        .triangle {
            @include mixins.pointerOnHover();
            margin: 0px;
            padding: 0px;
            width: 0;
            height: 0;
            border-style: solid;
        }
    }
    &__button--top {
        .triangle {
            /* top | right | bottom | left */
            // border-width: 0 7px 10px 7px;
            // border-width: 0 4px 12px 4px;
            border-width: 0 7.5px 16px 7.5px;
            border-color: transparent transparent $sb-center-1 transparent;
        }
    }
    &__button--bottom {
        .triangle {
            /* top | right | bottom | left */
            // border-width: 12px 4px 0 4px;
            border-width: 16px 7.5px 0 7.5px;
            border-color: $sb-center-1 transparent transparent transparent;
        }
    }
}

// #er__target {
//     position: absolute;
//     top: 100px;
//     left: 0;
//     width: 100%;
//     background-color: red;
//     height: 20px;
// }
