@use "@variables" as v;

.er__statRow__column--color-blue { color: v.$blue; }
.er__statRow__column--color-red  { color: v.$red;  }

@mixin stat-row-styles {
    font-size: v.$stat-row-font-size;
    color: v.$body-color-fg;

    span {
        white-space: nowrap;
        font-size: v.$stat-row-font-size;
    }
}

.er__statRow__column {
    @include stat-row-styles;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    span:empty::after {
        content: "\200b";
        visibility: hidden;
    }
}

.er__statRow__column-plus {
    @include stat-row-styles;
    display: grid;
    grid-template-columns: 30% 45% 10% 15%;

    // span:empty::after {
    //     content: "\200b";
    //     visibility: hidden;
    // }

    span:nth-child(2) {
        text-align: right;
        box-sizing: border-box;
        margin-right: 5px;
    }
    span:nth-child(3) {
        text-align: left;
    }
    span:nth-child(4) {
        text-align: right;
    }

    // span:nth-child(1) { background: red;    }
    // span:nth-child(2) { background: yellow; }
    // span:nth-child(3) { background: green;  }
    // span:nth-child(4) { background: blue;   }
}
.er__statRow__column-plus-plus {
    @include stat-row-styles;
    display: grid;
    grid-template-columns: 30% 20% 5% 20% 25%;

    // span:empty::after {
    //     content: "\200b";
    //     visibility: hidden;
    // }

    // Damage Type
    span:nth-child(1) {
        text-align: left;
        box-sizing: border-box;
        // margin-right: 5px;
    }
    // Base Damage
    span:nth-child(2) {
        text-align: right;
        box-sizing: border-box;
        // margin-right: 5px;
    }
    // // Plus Sign
    span:nth-child(3) {
        margin-left: 5px;
    }
    // Scaled Damage
    span:nth-child(4) {
        text-align: right;
    }
    // Total Damage
    span:nth-child(5) {
        text-align: right;
    }

    span.no-margins {
        span {
            margin-left: 1px;
            margin-right: 1px;
        }
        span:nth-child(1),
        span:nth-child(3) {
            color: gray;
        }
        // span:nth-child(2) {}
    }
}
