@use "../variables"as v;
@use "../mixins/customGradient" as m;

article.talisman-display {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // align-items: stretch;
    // justify-content: stretch;
    background-color: royalblue;
    background-color: v.$gray;

    header,
    &span {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    img.talisman {
        width: 100px;
        height: 100px;
    }

    .left-border {
        // margin-left: 8px;
        // padding: 0px;
        height: 140px;
        width: 20px;
        margin-left: 5px;
        margin-right: 5px;
        // background-color: goldenrod;
        // border-left: 3px inset transparent;
        // border-right: 3px inset transparent;
        // background: rgb(218, 165, 32);
        @include m.customGradient(goldenrod);
        // background: linear-gradient(
        //     90deg,
        //     rgba(218, 165, 32, 0.5)  0%,
        //     rgba(218, 165, 32, 0.9) 20%,
        //     rgba(218, 165, 32, 1)   50%,
        //     rgba(218, 165, 32, 0.9) 80%,
        //     rgba(218, 165, 32, 0.5) 100%
        // );
    }

    // section.row-1 {
    //     // background-color: red;
    // }
    .row-1-body {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        align-content: stretch;
        justify-items: stretch;
        justify-content: stretch;
        width: 100%;
    }

    section.row-2 {
        background-color: indianred;
    }
}

// .flex-stretch-row {
//     flex-grow: 1;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     justify-content: end;
//     background-color: orange;
// }

// .flex-top-right {
//     flex-grow: 1;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     justify-content: end;
//     background-color: yellow;
// }

// .flex-bottom {
//     flex-grow: 1;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: nowrap;
//     justify-content: end;
//     background-color: bisque;
// }
