@use "sass:math";
@use "../variables"as v;
@use "../mixins" as m;

.er__weaponDetail {

    $image-size: 155px;
    $skill-image-size: math.div($image-size, 2);

    @mixin boxShadow {
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow:
            inset 0px 0px 3px 3px rgba(v.$equipment-slot-overlay-color, 0.40),
                  0px 0px 2px 2px rgba(v.$equipment-slot-overlay-color, 0.40);
    }

    .er__weaponDetail__imageColumn {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: end;
        height: 50%;
    }
    .er__weaponDetail__imageWrapper {
        padding: 5px;
        @include m.square($image-size);
        @include boxShadow;

        &.empty {
            @include m.square($image-size);
            div:before {
                content: "";
                display: block;
            }
        }
    }
    .er__weaponDetail__weaponSkillImageWrapper {
        margin-right: 6px;
        padding: 5px;
        @include m.square($skill-image-size);
        @include boxShadow;

        &.empty {
            box-shadow: none;
            @include m.square($skill-image-size);
            div:before {
                content: "";
                display: block;
            }
        }
    }
}
