@use "sass:math";
@use "../variables"as v;
@use "../mixins" as m;

.er__weaponDetail {

    $image-size: 155px;
    $skill-image-size: math.div($image-size, 2);
    $mobile-image-size: 100px;
    $mobile-skill-image-size: math.div($mobile-image-size, 2);

    @mixin boxShadow {
        /* offset-x | offset-y | blur-radius | spread-radius | color */
        box-shadow:
            inset 0px 0px 3px 3px rgba(v.$equipment-slot-overlay-color, 0.40),
                  0px 0px 2px 2px rgba(v.$equipment-slot-overlay-color, 0.40);
    }

    .er__weaponDetail__imageColumn {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-end;
        justify-content: end;
        height: 50%;
        align-self: flex-end;
    }
    .er__weaponDetail__imageWrapper {
        @include m.square($image-size);
        @include boxShadow;
        padding: 5px;

        &.empty {
            @include m.square($image-size);
            div:before {
                content: "";
                display: block;
            }
        }

        @include m.media-mobile {
            @include m.square($mobile-image-size);
        }
    }
    .er__weaponDetail__weaponSkillImageWrapper {
        @include boxShadow;
        @include m.square($skill-image-size);
        margin-right: 6px;
        padding: 5px;

        &.empty {
            @include m.square($skill-image-size);
            box-shadow: none;
            div:before {
                content: "";
                display: block;
            }
        }

        @include m.media-mobile {
            @include m.square($mobile-skill-image-size);
        }
    }
}
