@use "@variables"as v;
@use "@mixins"as mixins;
@use "@functions" as functions;
@use "../helpers" as h;

#root {
    @include mixins.backgroundImage(h.$main-menu-encoded-background);
}

* {
    font-size: 15px;
    cursor: url(v.$image-cursor-default), auto;
}

// span {
//     text-shadow: v.$text-shadow-offset v.$text-shadow-offset black;
// }

hr.er__hr {
    height: 1.75px;
    background:
        functions.customGradient(90deg, v.$modal-color-bg, v.$modal-top-bottom-border-stops),
        v.$gold;
}

