@use "../variables" as v;
@use "../mixins/customGradient" as m;

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: v.$offWhite;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

$bodyHeight: calc(100vh - 64px);

#root {
    height: 100vh;
    overflow-y: scroll;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // background-color: v.$offWhite;
    // background: linear-gradient(180deg, rgba(13,14,9,1) 0%, rgba(85,85,73,1) 100%);
    background: linear-gradient(0deg, rgba(68,68,59,1) 0%, rgba(18,18,17,1) $bodyHeight, rgba(0,0,0,1) 100%);
}

#outlet-wrapper {
    flex-grow: 1;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#app-footer {
    box-sizing: border-box;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 3px;
    text-align: center;
    height: 30px;
    color: map-get(v.$EldenRingColor, menu-fg);
    background-color: #292927;
}

$header-height: 48px; // 48px/56px/64px
$side-menu-width: 400px;
$side-menu-bg: #35352f;

$side-menu-bg-stops: (
     0%: 1.0,
    25%: 1.0,
    50%: 1.0,
    75%: 0.5,
    90%: 0.3,
   100%: 0.0,
);

#app-side-menu {
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0px;
    // padding: 0px;
    width: $side-menu-width;
    // background-color: $side-menu-bg;
    background: m.customGradient(90deg, $side-menu-bg, $side-menu-bg-stops);
}
