@use "../variables" as v;
@use "../mixins/customGradient" as m;
@use "../helpers/index" as h;

#er__mobileLayout {

    #er__appHeader__root {
        $mobileHeader-height: 86px;
        $mobileHeader-contentHeight: 86px;
        $mobileHeader-topMargin: 5px;

        position: relative;

        height: ($mobileHeader-height + ($mobileHeader-topMargin * 2));

        #er__appHeader__background {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: $mobileHeader-topMargin;
        }

        #er__appHeader__content {
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: $mobileHeader-contentHeight;
            margin-top: $mobileHeader-topMargin;

            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            // background-image: url("https://imagedelivery.net/tIYDWdG54zSW0jZ2i4FVmQ/ui/title-background/public");
            // background-repeat: no-repeat;
            // // background-attachment: fixed;
            // // background-size: cover;
            // background-size: contain;
            // background-position: center;

            // padding-left: 40px;

            .er__appHeader__icon {
                width:  v.$header-image-size;
                height: v.$header-image-size;
                margin-left: 20px;
                margin-right: 15px;
            }

            .er__appHeader__title {
                margin-bottom: 0px;
                color: v.$gold;
                font-size: 34px;
            }
        }
    }

    #outlet-wrapper {
        flex-grow: 1;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    #app-footer {
        box-sizing: border-box;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding: 3px;
        text-align: center;
        height: 30px;
        color: map-get(v.$EldenRingColor, menu-fg);
        background-color: #292927;
    }

    #app-side-menu {
        box-sizing: border-box;
        position: absolute;
        z-index: 10;
        left: 0;
        top: 0;
        height: 100%;
        margin: 0px;
        // padding: 0px;
        width: v.$side-menu-width;
        // background-color: $side-menu-bg;
        background: m.customGradient(90deg, v.$side-menu-bg, v.$side-menu-bg-stops);
    }
}
