@import url("https://use.typekit.net/rnn3kbc.css");

* {
    font-family: garamond-premier-pro-display, serif;
}

// ==========================================================================
// TODO: Figure out which of these are needed
// ==========================================================================

.Garamond-Premier-Pro-Regular {
    font-family: garamond-premier-pro, serif;
    font-weight: 400;
    font-style: normal;
}

.Garamond-Premier-Pro-Italic {
    font-family: garamond-premier-pro, serif;
    font-weight: 400;
    font-style: italic;
}

.Garamond-Premier-Pro-Bold {
    font-family: garamond-premier-pro, serif;
    font-weight: 700;
    font-style: normal;
}

.Garamond-Premier-Pro-Bold-Italic {
    font-family: garamond-premier-pro, serif;
    font-weight: 700;
    font-style: italic;
}

.Garamond-Premier-Pro-Caption {
    font-family: garamond-premier-pro-caption, serif;
    font-weight: 400;
    font-style: normal;
}

.Garamond-Premier-Pro-Italic-Caption {
    font-family: garamond-premier-pro-caption, serif;
    font-weight: 400;
    font-style: italic;
}

.Garamond-Premier-Pro-Bold-Caption {
    font-family: garamond-premier-pro-caption, serif;
    font-weight: 700;
    font-style: normal;
}

.Garamond-Premier-Pro-Bold-Italic-Caption {
    font-family: garamond-premier-pro-caption, serif;
    font-weight: 700;
    font-style: italic;
}

.Garamond-Premier-Pro-Bold-Display {
    font-family: garamond-premier-pro-display, serif;
    font-weight: 700;
    font-style: normal;
}

.Garamond-Premier-Pro-Bold-Italic-Display {
    font-family: garamond-premier-pro-display, serif;
    font-weight: 700;
    font-style: italic;
}

.Garamond-Premier-Pro-Display {
    font-family: garamond-premier-pro-display, serif;
    font-weight: 400;
    font-style: normal;
}

.Garamond-Premier-Pro-Italic-Display {
    font-family: garamond-premier-pro-display, serif;
    font-weight: 400;
    font-style: italic;
}

.Garamond-Premier-Pro-Bold-Subhead {
    font-family: garamond-premier-pro-subhead, serif;
    font-weight: 700;
    font-style: normal;
}

.Garamond-Premier-Pro-Bold-Italic-Subhead {
    font-family: garamond-premier-pro-subhead, serif;
    font-weight: 700;
    font-style: italic;
}

.Garamond-Premier-Pro-Italic-Subhead {
    font-family: garamond-premier-pro-subhead, serif;
    font-weight: 400;
    font-style: italic;
}

.Garamond-Premier-Pro-Subhead {
    font-family: garamond-premier-pro-subhead, serif;
    font-weight: 400;
    font-style: normal;
}
