@use "sass:math";
@use "../variables" as v;
@use "../mixins" as m;
@use "../helpers/index" as h;

#er__layout {

    display: flex;
    flex-flow: column nowrap;
    height: 100%;

    #er__layout__outletWrapper {
        flex-grow: 1;
        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
    }

    #er__header {
        .er__header__content {

            height: 86px;
            margin-top: 15px;

            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            background-image: url("https://imagedelivery.net/tIYDWdG54zSW0jZ2i4FVmQ/ui/title-background/public");
            background-repeat: no-repeat;
            // background-position: center;
            // background-size: cover;

            // padding-left: 40px;

            .er__header__icon {
                @include m.square(v.$header-imageSize);
                margin-left: 40px;
                margin-right: 15px;

                @include m.pointer-on-hover;
            }

            .er__header__title {
                margin-bottom: 0px;
                color: v.$gold;
                font-size: 34px;
            }
        }
    }

    #er__footer {
        box-sizing: border-box;
        width: 100%;
        padding: 25px;
        display: flex;
        flex-flow: row wrap;
        justify-content: start;
        // /* vertical | horizontal */
        // padding: 0px 25px;
        // padding-bottom: 10px;
        // text-align: center;
        // height: 30px;
        // color: map-get(v.$EldenRingColor, menu-fg);
        // background-color: #292927;
        // background-color: blue;;
    }
}

#er__sideNav__backdrop {
    z-index: v.$zindex-sideNav-backdrop;
    // background-color: blue !important;
    background: m.customGradient(90deg, v.$sideNav-bg, v.$sideNav-backdrop-bgStops);
    @include m.media-mobile {
        background: transparent;
    }
}

// MuiPaper-root
// MuiPaper-elevation
// MuiPaper-elevation16
// MuiDrawer-paper
// MuiDrawer-paperAnchorLeft
// css-iur3w5-MuiPaper-root-MuiDrawer-paper
// .MuiDrawer-paper,
// .MuiDrawer-root,
#er__sideNav {
    z-index: v.$zindex-sideNav;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    // box-sizing: border-box;
    // position: absolute;
    // height: 100%;
    // margin: 0px;
    // padding: 0px;
    width: v.$sideNav-width;
    // background-color: v.$sideNav-bg;
    background: m.customGradient(90deg, v.$sideNav-bg, v.$sideNav-bgStops);

    @include m.media-mobile {
        width: math.div(v.$sideNav-width, 1.5);
    }

    ul#er__sideNavItems {
        margin-left: 0px;
        padding-left: 0px;
        .er__sideNavItem {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            $horizontal-margin: 25px;
            margin-top: $horizontal-margin;
            margin-bottom: $horizontal-margin;
            img.er__sideNavItemImage {
                @include m.square(75px);
                margin-left: 50px;
                margin-right: 15px;
            }
            span.er__sideNavItemTitle {
                margin-bottom: 0px;
                color: v.$gold;
                font-size: 20px;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

