// $offWhite: #636155;
$offWhite: #ACAB94;
$gray: #221e19;
$transparentGray: rgba($gray, 0.55);
$equipment-slot-overlay-color: #B6AD84;

$cloudflare-hash: "tIYDWdG54zSW0jZ2i4FVmQ";

$EldenRingColor: (
    // menu-bg: #292927,
    menu-bg: #201F19,
    menu-fg: #D6CDB8,
    green: #265139,
    gold: #C9BBA1,
);

// ECard
$gold: #C9BBA1;
// $black: #2A2923;

// $erColors: (
//     offwhite: #636155,
//     gray: #221e19,
//     transparentGray: rgba(#221e19, 0.85),
// );

$CorrectColors: (
    red:   "#CD3138",
    blue:  "#527ED5",
);

// ============================================================================
// Theme (Bootstrap variables)
// ============================================================================

// ----------------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------------

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$breakpoints: (
    mobile:  500px,
    laptop:  990px,
    desktop: 1200px,
) !default;

// ----------------------------------------------------------------------------
// Color System
// ----------------------------------------------------------------------------

// scss-docs-start gray-color-variables
// $white:    #ffffff !default;
// $gray-100: #f8f9fa !default;
// $gray-200: #e9ecef !default;
// $gray-300: #dee2e6 !default;
// $gray-400: #ced4da !default;
// $gray-500: #adb5bd !default;
// $gray-600: #6c757d !default;
// $gray-700: #495057 !default;
// $gray-800: #343a40 !default;
// $gray-900: #212529 !default;
// $black:    #000000 !default;
// $white:    #e3e2de !default;
$white:    #d4d4d4 !default;
$black:    #1e1e1e !default;
// scss-docs-end gray-color-variables

// scss-docs-start color-variables
$blue:    #527ED5 !default;
// $indigo:  #6610f2 !default;
// $purple:  #6f42c1 !default;
// $pink:    #d63384 !default;
$red:     #CD3138 !default;
// $orange:  #fd7e14 !default;
$yellow:  #ebbd6c !default;
$green:   #338636 !default;
// $teal:    #20c997 !default;
// $cyan:    #0dcaf0 !default;
// scss-docs-end color-variables

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark".
// Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $black !default;
$color-contrast-light:     $white !default;

// scss-docs-start theme-color-variables
// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
$success:       $green !default;
// $info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
// $light:         $gray-100 !default;
// $dark:          $gray-900 !default;
// scss-docs-end theme-color-variables

// ----------------------------------------------------------------------------
// Options
//
// Quickly modify global styling by enabling or disabling optional features.
// ----------------------------------------------------------------------------

// Prefix for :root CSS variables
$variable-prefix: er- !default; // Deprecated in Bootstrap v5.2.0 for the shorter `$prefix`
$prefix:          $variable-prefix !default;

// ----------------------------------------------------------------------------
// Z-index master list
//
// Warning: Avoid customizing these values.
// They're used for a bird's eye view of components dependent on the z-axis and are designed to all work together.
// ----------------------------------------------------------------------------

// scss-docs-start zindex-stack
$zindex-startingClass-background:      1005 !default;
$zindex-startingClass-content:         1010 !default;
$zindex-startingClass-hover:           1011 !default;
// $zindex-dropdown:                   1000 !default;
// $zindex-sticky:                     1020 !default;
// $zindex-fixed:                      1030 !default;
// $zindex-offcanvas-backdrop:         1040 !default;
// $zindex-offcanvas:                  1045 !default;
$zindex-modal-backdrop:             1050 !default;
$zindex-modal:                      1055 !default;
// $zindex-popover:                    1070 !default;
// $zindex-tooltip:                    1080 !default;
// $zindex-toast:                      1090 !default;
$zindex-sideNav-backdrop:             1190 !default;
$zindex-sideNav:                      1200 !default;
// scss-docs-end zindex-stack

// ----------------------------------------------------------------------------
// Body
//
// Settings for the `<body>` element.
// ----------------------------------------------------------------------------

$body-color-bg: $black !default;
$body-color-fg: #d3d3d3 !default;

// ----------------------------------------------------------------------------
// Typography
//
// Font, line-height, and color for body text, headings, and more.
// ----------------------------------------------------------------------------

// // $font-size-root affects the value of `rem`, which is used for as well font sizes, paddings, and margins
// $font-size-root: null !default;

// // $font-size-base affects the font size of the body text
// $font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

// // $font-size-sm:   $font-size-base * .875 !default;
// // $font-size-lg:   $font-size-base * 1.25 !default;
//
// $font-weight-lighter:         lighter !default;
// $font-weight-light:           300 !default;
// $font-weight-normal:          400 !default;
// $font-weight-semibold:        600 !default;
// $font-weight-bold:            700 !default;
// $font-weight-bolder:          bolder !default;
//
// $font-weight-base:            $font-weight-normal !default;

// $line-height-base:            1.5 !default;
// $line-height-sm:              1.25 !default;
// $line-height-lg:              2 !default;

$headings-color: #cfc1a6 !default;

$text-shadow-offset: 1px;
// $stat-row-font-size: 16px;
$stat-row-font-size: .875rem;

// ----------------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------------

$header-imageSize: 55px;
$sideNav-width: 400px;
// $sideNav-bg: #35352f;
$sideNav-bg: #36342f;
$sideNav-bgStops: (
     0%: 1.00,
    25%: 0.90,
    50%: 0.75,
    75%: 0.50,
    90%: 0.30,
   100%: 0.00,
);
$sideNav-backdrop-bgStops: (
     0%: 1.00,
     5%: 0.90,
    10%: 0.75,
    15%: 0.50,
    18%: 0.30,
    20%: 0.00,

   80%: 0.00,
   82%: 0.30,
   85%: 0.50,
   90%: 0.75,
   95%: 0.90,
  100%: 1.00,
);

// ----------------------------------------------------------------------------
// Button
// ----------------------------------------------------------------------------

$button-bg-color: #14120F;
$button-fg-color: #D3D3D3;
$button-border-color: #999999;

$button-horizontal-padding: 75px;
$button-vertical-padding:   5px;

// ----------------------------------------------------------------------------
// Navbar
// ----------------------------------------------------------------------------

$navbar-height: 48px; // 48px/56px/64px

// ----------------------------------------------------------------------------
// Tables
// ----------------------------------------------------------------------------

$table-color-fg: $body-color-fg !default;
$table-color-bg:    transparent !default;

// ----------------------------------------------------------------------------
// Data Table
// ----------------------------------------------------------------------------

$data-table-color-fg: $body-color-fg;
$data-table-header-color-bg: #1c1c19;
$data-table-border-radius: 0.25rem !important;
$data-table-border-color: #515151;

// ----------------------------------------------------------------------------
// Modal
// ----------------------------------------------------------------------------

$modal-backdrop-bg: $transparentGray;

$modal-color-bg: #26221C;
$modal-color-border: #4D4B3F;

$modal-inner-border-color-1: #423E35;
$modal-inner-border-color-2: #4C4A3F;
$modal-inner-border-color-3: #454139;

$modal-body-stops: (
    0%: 0.10,
    1%: 0.30,
    2%: 0.50,
    3%: 0.70,
    4%: 0.80,
    5%: 0.85,
    6%: 0.90,
   10%: 0.95,
   90%: 0.95,
   94%: 0.90,
   95%: 0.85,
   96%: 0.80,
   97%: 0.70,
   98%: 0.50,
   99%: 0.30,
  100%: 0.10,
);

$modal-top-bottom-border-stops: (
    0%: 0.95,
   10%: 0.00,
   90%: 0.00,
  100%: 0.95,
);

$modal-inner-border-stops: (
    0%: 1.0,
   10%: 0.0,
   90%: 0.0,
  100%: 1.0,
);

// ----------------------------------------------------------------------------
// Context Menu
// ----------------------------------------------------------------------------

$contextMenu-color-bg: $modal-color-bg;
$contextMenu-color-border: $modal-color-border;
$contextMenuItem-color-bg: lighten($modal-color-bg, 11%);
$contextMenuItem-color-bg-active: lighten($modal-color-bg, 30%);

$contextMenu-item-stops: (
    0%: 0.10,
   10%: 0.25,
   40%: 0.60,
   // 50%: 0.75,
   60%: 0.60,
   90%: 0.25,
  100%: 0.10,
);

// ----------------------------------------------------------------------------
// You Died
// ----------------------------------------------------------------------------

$you-died-red: #520000;
$you-died-black: black;
$you-died-gradient-stops: (
    0%:   0.20,
    10%:  0.40,
    25%:  0.60,
    50%:  0.75,
    75%:  0.60,
    90%:  0.40,
    100%: 0.20,
);

// ----------------------------------------------------------------------------
// Popover
// ----------------------------------------------------------------------------

$popover-color-bg: #181813;
$popover-color-fg: $body-color-fg;
$popover-color-border: #938b7c;

// ----------------------------------------------------------------------------
// Misc.
// ----------------------------------------------------------------------------

$variable-menu-horizontal-margin: 5%;

// ----------------------------------------------------------------------------
// Starting Class
// ----------------------------------------------------------------------------

$startingClass-bg-gradient-color-left: #3d3b34;
$startingClass-bg-gradient-color-right: #221f17;

// ----------------------------------------------------------------------------
// Equipment Grid / Equipment Slots
// ----------------------------------------------------------------------------

$equipment-slot-overlay-color: #B6AD84;
$equipment-menu-horizontal-margin: 10%;
$equipment-grid-cell-width:  150px;
$equipment-grid-cell-height: 170px;

// ==========================================================================
// Base64 Encoded Images
// ==========================================================================

$image-red-x: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKIElEQVRYhbWY23McxRXGv9PdMzsze9OuVrIsyZYKsB3LOBCSIheKCpc4QFUw2NjYKQKPeU7+rDyRpCoFBVVcLFuWMSBjwIZyYmNLRpZ1Xe1tbt2dh56RRmthSVxOVdfMSDM7vzn99elzDuFeswGUABQBWADqABYBxJvc+2OZlbwvn5w3AawACNMbeHJ0AIhkDAPYD+BFAA8D6CQPrP6EoI8BqHiMPWsR7Yu03gPjmLvdoCI5DgF4vJfo78+41usewOaU1smHrP5EsKMAvEEh/jYgxIlSsfjUgu/fBcAA6BQ2CzoE4PFBIV4/XnafHvNclAUbiWLJ5pQOYCTxY8OOAjg4KMRfn6yWnj9ScHofsZjX0WxkJgwXMrB1nsDuXYOsVl94LG+pA56DomDgwEg91pUlpVYysD4A+QMA8zCOOegxduxIb/nFnwvmjVnk9nGy8mT3hERDGdglDsAFMALg5JGC9eoel+FRKdkQgVWkZANQLO+WBuaDoNxQakmZl6Swqa53stA8AP0ADlrAyT/19Jx62tLFRxhZwxpU0cAqs2NLqdLVIJAB0AAwy7A+/QBwAwCa0jgrLzh2WzZ+Z2m8XK0+OirESxZwAMCvAOz+Hp70APSlkEcrlZOnXe7s55z1EZHLgHmt9d0owmetVvY5N536fgDlq4FcrZGuOKJYKekQBc5hMwaPAWUC8jlv4E4Q9CQyEDBf28T2PTpIwFgWEgD2MuIuA+aV1h9LqaaaPsaD4Oyq1meS56Y4jNYCABUA6mogV0Pb3lsg20thYwClDOx8EJQ3gVVbQI4QMMaJjr9UqZxKIQ9aJBwykOdjqd4Opfyw0TqXgTwL4Fo67T6ApeTcvun7rdC2d/dZgtucRBUmCjsKqChC3nUHVuK4t67UojShK4VlyeiGHkXiyRP9hdf+YFvOMGdsr2A8R4Q7AK4opf4po+j9pfYZX+svkt87D+AzAIspKCX/aMGEA3bT95stkRvexYi7kkSBAzYDcgT0cMC1nP5FAzsvjfayoUt1QR60gJOv9Bf+fNKyrSHGWY0TOQQsKq2/lFL9IwqjDxba41rrazCx80ICuQBAZUGRgUUWtkDcK2kghU01m8LOS3kbZgtMYVUG8rAFvJJCAsAewVkK+UEg1b/lOqTW+msAlzKQAKC7QVPYTtazoW3vzsJmNetaTn89jvu7YCOYOHnYY+zksb78qYOc835idEBwniNag5wIY/XucutMBvIagKkM5AZQ3TVWE2AXgJz2/UARDdVyjNuc8W7NVh2nf5mCwWasFyK9FoL6dnP+2nO12itPMWb9Qgg+LDhziHBDa3wupfqPDKPx5daZUKkryXRfSiAXk1lJeTbE0G6LE1gLAL4Jw2YAvqdPMO5KxrOaLXOgzL3aHIK+ZqznCVTu5/y53/f2HjtqaWsvJ1bjRG4y3Z9Lqd6MwmhyoT0ean1dAXfQpclumK1A/QRWA2AprCdsJ6tZhwElWoftIevwryuVJ45a2tonwItsHXIyVOpfch1SmsXzKbo0uRPQFHYFJs1bh7XtXd2aLSSwzzpu7TdervcAB98nzO8XEk1Ohkq940t5brl5JoXUwHUAF9GlyZ2CprYCo9ucBqKbvr/qh37ZzrGePs9DWUl4RKhwQpkB/QxsgBNzGINDhLqw/AvtQJ5dbajzrc5Hda0vJ9N9BSZWzmPjGrnHtgsKGAn4MJq1byndiMK4LJjuGRECHmNgRBBEEIxDkLnuKImz7SAeX23iQz++OK/1JIBlmKm+AOPJTeGyJra6ocu+SWBXAeBsJPFH8wUjZa3BiO55YFEqTIdhFhJdkNsytkNQwMjgJoBbAP73znILbbX5Ri/0+l/n9ZrTLgK4vBPI7wvKABQIaHuMjY31FYdsKHCY6dFaA0oCSiLWGi4j7HU8Z58QRctsBAWY9acyY0vbiUYBs6cPEPCIy9jxvwyUjv2MGO1PAjlPBkuGSr5K6rUUsdhQalGZnbCRjG3ZTkH3EHDIZex0CnmQM1ZjjDiMeOtao6218WwC7GzMZ4tLSq0m79427E5AHyDgkEV0+o3d5RMp5H4iYkRY0RqfhAoTocTnsUJbA3lo2ET35LO34zhfl7KZgU2zth8E6gEYYUQPl4Q4fbRWO/4kQfxScNZLjDgRVoQVn28H6r16Q7252p54rxPcrYucXRWM5zbJZy3HGZyL43xH6yWptQezQO/r2a1APQADjOjhIuenXqhWjz1vaWtMEPPI5JNLSuvJdqCTODk5r/UEgPYt37/WErmRzfLZKgdyljP4bRSVOlovSK1tbCGD+4GmC+dQSYjTKeQDAryYgfwoUnq83tAZSMDE27u3gqDeErmR7nw2z4AKrcPWpVxOnP6dsPcD3ZNq8mitdjyFBIAeojXI9wOpxpudLOQkgFmYbRG3gqDeJBooC7uQzQ16MrAzQeA2lKpnYDvoClvfBTpKwJjL2Ksv9/WdeIZL+0FGrMqIqkRYFlY82Q70eL2hE8gpGJ1dhMknv4RprjEA9kwYtpdte/cui7iT0ayrJPqVj5xbGp4JAret1II2NVi927ObgY4mIejU0Vrt5POWth5kxHoz+eQmmlyB2RYvwexYaS67VoPN+n5zQeSGBxjxvIxEWorniKHKCW7OG54OgkIGdoMMsqBpm+Wwx9irKeQDAryayScvhFJ1QSLxZAqZtQ01WApbzZTiNmNrmk1hu2TQ6AZdq3GykABQTfLJC6FU7waxOtf0L3RpcmoTyCysn/Vsi6ivLNxCtm/Qk4Gdi+Ni1wLrpJ2SXgC/fYjzI08UCqefzcEZZWAVBioTcKNNuBKTekez6O3FpYmGyciXM568jfsH7NSzCgBmwrDZItrVk7MEOBO7EqIaAxwdopqzB5eDUCyYLmIHQJvD6GEfgONPFYtvjBWLeIxJO1t3fxUz9RYQvXX37nkFXNcG7HIyZrB1YpH2DdrJB/GZMGw0wYf6BRM9Wos8M/kRacDNe+hIOXIriJlv7r8tcJ8Qtai0vhhK9R54FvIazKpOIXdid5KjAIDzzSaAwhHteQOPI0afMChzYdj9XJHDhJB+AKWrQcBqRKMuh4gBTEVanwmVentxaSKFVKbGmci8FNg6Q+/uG6QkNBOGjRbRriLPFUId4kYc49NOhI8bnfEZpT9I7rucNskAs+rjr4KgETH7oXouLz9u+erLZuuTZa2nNPCtBr4AcA7rJe131jhd1t03WIGpEiQAPROGy5rzUsMplibakTrXaF+5KdUUzDr4L4DP0mlvwSS1AIAbQbA6124XF6Po2rSUaYWYLR+2lexuYS2shy43eWfPYhRdmlXqMoBpmH7tBIDZbM10PXMeTEuZ6m8WplrcUY2zTZtLjk0AmJZr3fYs5DQAmWonW5IMADiE9Y7yLDY2B4Afx6NZG4BpqI0m198mgNPJdXxv2WigSzC1DWC+Ntuh+ymMwTTYisl70ri75uL/A8VEScwV49A4AAAAAElFTkSuQmCC";
$image-cursor-default: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAVCAYAAABPPm7SAAAACXBIWXMAAAsTAAALEwEAmpwYAAADoUlEQVQ4jZVTXU9cVRRd+5x7ZoZ7GcYpBUVCPxBoSgukFAppgviiIaTBRCJxnNQEH4zxUV98N/EH+GJ8MmkTfWxTv2Jia6uxiCR00CJOGD4i2CCBmWGGO1/3nrN9YCYFjSauZJ/k5OSsvdfaexOqkAD5zFy7ExH+G+LgHLp07trw0Pl1S6LdIhK1Z2bGIb7qBwHAqoYBYCCUUm2xWOxEf3/PFwGFM4KUwP+A2N3d08Ggg3hsvKuvp/WGo/iiJJJEBCLrUOYa/GpUCTKZzOr6+jrl83manJw809vb+7kTsPpBFgGPJTBrMOt/VuDul+/uZV32PA/ZbBavxZ9vHrnccSMS8rsFDNW0/pupolgs3s5kMjoQCCCVSumNjQ1MTEy0jo2N3WuKhi5L+bh+IvqbsYAAK38vWygGgwrG+FhaWvKSySSPPtfT+ErshS9PnnrybWnBJgC1GmodYmYIw6aUTqfzAGDbtiiVSl4qlSrPzc1xS0tLw/T09Pujo0OL0agdtywcFySPdEkwtOsWsmnJQJ0KABCiVKroPze3y7/MPzT+3h/q5fFnT71x9cr14b7W+eNhvBoiqqtJEgCgtdYAIER1uoQgAMhms5WFhYVKIpHgSCRC8Xi8bWpq6lr/ha6E4wTOE4GsAwKvwsxQSkFKghBSEBG01sbzK8jl0yaTrRO+LlBPbyfZjuha30pPFgo7D60jeoSA1toQkTDGGK01n2xrDXZ3d5OUhOXlZf3NndntlZWVT7Z2+APgYKhhWZYNAMViEVJKEYlEAr5vOJfLeY4TRjabw61bP/y6trb2VqEcSFSY90AgIpDFAKSUyvM8VCoVNDU1Bdvb28kYIJVKUT6fh+M42NnZ+cot4acyl4tVAxkABAEIh8MRCIEnjh3D6c4OyhVchGwbz3R2Ctd1jW3buHDx3NVQEC0192uwpEDAcRxSSqG5uZm+vXd3f3Hxtw+7OjpeHx8fb1RKUTKZNAMDA43FYvHT+rB6SUg8MvpgUSQD6OzqeMfAtm9+dvu7xIPlkcw+bu7nva9PnDx7xam3GoQVoGi0QQwO9j/NTC+uraxd9zVKAGAJATk/P//xj/dnHuVyhY8YKBtmhCT9vLm5+f2lwdOxcDgM13UxOztrVldXd30fhplBJGFpjcr2dubd2ozXwAJU9r3WhshTmJmZ4Zn7D+5sbW29V9Lqd99g78h2CgESAnSYgAD09ZxdHhnuzkTr8aYFRBWgDidiZvwF2Lin3osPDkAAAAAASUVORK5CYII=";;
$image-cursor-pointer: "data:image/svg+xml;base64,PHN2ZwogICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICAgdmlld0JveD0iMCAwIDM0MCA0NDAiCiAgICB4bWw6c3BhY2U9InByZXNlcnZlIgogICAgd2lkdGg9IjE1cHgiCiAgICBoZWlnaHQ9IjMwcHgiCj4KICA8cGF0aCBmaWxsPSIjOTE4NzZGIiBkPSJNMCAxODBoNjB2MjBoMjBWMjBoMjBWMGg0MHYyMGgyMHY4MGg0MHYyMGg2MHYyMGg0MHYyMGgyMHYyMGgyMHYxNDBoLTIwdjYwaC0yMHY2MEgxMDB2LTYwSDgwdi00MEg2MHYtNDBINDB2LTQwSDIwdi0yMEgwdi02MCIvPgogIDxwYXRoIGZpbGw9IiM0YzQyMmEiIGQ9Ik0yMCAyMDBoNDB2MjBoMjB2MTguOGgyMFYyMGg0MHYxODBoMjB2LTgwaDQwdjgwaDIwdi02MGg0MHY4MGgyMHYtNjBoMjB2MjBoMjB2MTQwaC0yMHY2MGgtMjB2NDBIMTIwdi00MGgtMjB2LTQwSDgwdi00MEg2MHYtNDBINDB2LTIwSDIwdi00MCIvPgo8L3N2Zz4K";
