// $offWhite: #636155;
$offWhite: #ACAB94;
$gray: #221e19;
$transparentGray: rgba($gray, 0.55);
$equipment-slot-overlay-color: #B6AD84;

$text-shadow-offset: 1.5px;

$EldenRingColor: (
    // menu-bg: #292927,
    menu-bg: #201F19,
    menu-fg: #D6CDB8,
    green: #265139,
    gold: #C9BBA1,
);

// ECard
$gold: #C9BBA1;
// $black: #2A2923;

// $erColors: (
//     offwhite: #636155,
//     gray: #221e19,
//     transparentGray: rgba(#221e19, 0.85),
// );

$CorrectColors: (
    red:   "#CD3138",
    blue:  "#527ED5",
);
